.THIS > lightning-button > button {
    border: 1px solid #000;
}

.cLightningAlert > .custom-card > lightning-button > button {
    border: 1px solid #000;
}   
.cLightningAlert > .custom-card  {
    flex-direction : row !important;
}   