
:host{
    --sds-c-input-spacing-horizontal-end :  25px;
    --sds-c-input-spacing-horizontal-start : 25px;
    --sds-c-accordion-section-spacing-block-start : 0;
    --sds-c-accordion-section-spacing-inline-end : 0;
    --sds-c-accordion-section-spacing-block-end : 0;
    --sds-c-accordion-section-spacing-inline-start : 0;
}
.c-input{
    position: relative;
    padding: 10px;
    width: 30%;
}
input{
    padding: 0 25px;
}
.c-icon1, .c-icon2{
    position: absolute;
    top : 0;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
}
.c-icon1{
    left: 5px;
}
.c-icon2{
    right: 5px;
}
.success {
    color:green;
    --sds-c-icon-color-foreground-default: green;
    --sds-c-icon-color-background: #ffffff00;
}
.error{
    color:red;
    --sds-c-icon-color-foreground-default: red;
    --sds-c-icon-color-background: #ffffff00;
}
.resultSection{
    margin-top: 10px;
}
.passwordPolicy-section{
    padding: 5px 10px;
    background: #72ada54a;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 0px #2423231c;
}
.align-items{
    display: flex;
    align-items: center;
    gap: 5px;
}
.showPassword{
    --sds-c-icon-color-foreground-default: rgb(116, 116, 116);
}
.hidePassword{
    --sds-c-icon-color-foreground-default: rgb(36, 92, 180);
}   